@page "/color-tool2"

@using ToolsApp.Components.ColorTool
@using ToolsApp.Core.Interfaces.Data
@using ToolsApp.Components.Shared.TabDialog

@inject IColorsData colorsData

<ToolHeader HeaderText="Color Tool"></ToolHeader>

<ActionDataList Items="@colors" TItem="IColor" TItemId="int"
   OnItemAction="deleteColor" ActionButtonText="Delete"
   GetId="@(c => c.Id)">
  <Header>
    <h3>Color List</h3>
  </Header>
  <EmptyMessage>
    <span>No Colors</span>
  </EmptyMessage>
  <ItemTemplate>
    @context.Name - @context.HexCode
  </ItemTemplate>
</ActionDataList>

<ColorForm ButtonText="Add Color"
  OnSubmitColor="@addColor"></ColorForm>

<br /><br />

<TabSet>
  <Tab Title="Tab 1">
    <p>
      Tab 1 Content
    </p>
    <div>
      <input type="checkbox" @bind="showThirdTab" />
      Toggle third tab
    </div>
  </Tab> 
  <Tab Title="Tab 2">
    <p>Tab 2 Content</p>
  </Tab>
  @if (showThirdTab)
  {
    <Tab Title="Tab 3">
      <p>Tab 3 Content</p>
    </Tab>
  }
</TabSet>



@code {

  private bool showThirdTab = false;

  private IEnumerable<IColor> colors = new List<IColor>();

  protected override async Task OnInitializedAsync()
  {
    colors = await colorsData.All();
  }

  private async Task addColor(NewColor newColor)
  {
    await colorsData.Append(newColor);
    colors = await colorsData.All();
  }

  private async Task deleteColor(int colorId)
  {
    await colorsData.Remove(colorId);
    colors = await colorsData.All();
  }



}
