@using ToolsApp.Components.CarTool.Models
@using CarFormModel = ToolsApp.Components.CarTool.Models.CarForm

<EditForm Model="@carForm" OnValidSubmit="@submitCar">

  <DataAnnotationsValidator />
  <ValidationSummary />

  <label>
    Make:
    <InputText @bind-Value="@carForm.Make" />
    <ValidationMessage For="@(() => carForm.Make)" />
  </label>

  <label>
    Model:
    <InputText @bind-Value="@carForm.Model" />
    <ValidationMessage For="@(() => carForm.Model)" />
  </label>

  <label>
    Year:
    <InputNumber @bind-Value="@carForm.Year" />
    <ValidationMessage For="@(() => carForm.Year)" />
  </label>

  <label>
    Color:
    <InputText @bind-Value="@carForm.Color" />
    <ValidationMessage For="@(() => carForm.Color)" />
  </label>

  <label>
    Price:
    <InputNumber @bind-Value="@carForm.Price" />
    <ValidationMessage For="@(() => carForm.Price)" />
  </label>

  <button>@ButtonText</button>

</EditForm>

@code {

  [Parameter]
  public string ButtonText { get; set;  } = "Submit Car";

  [Parameter]
  public EventCallback<NewCar> OnSubmitCar { get; set; }

  private CarFormModel carForm = new();

  private IMapper mapper = CarToolMapper.GetMapper();

  private async Task submitCar()
  {
    await OnSubmitCar.InvokeAsync(mapper.Map<NewCar>(carForm));
    carForm = new();
  }

}
